<table>
  <th>Name</th>
  <th>Year Completed</th>
  <br>
    <% @landmarks.each do |landmark| %>
    <a href='/landmarks/<%= landmark.id %>'><%= landmark.name %></a>
    <br>
    <%= landmark.year_completed %>
    <br>
    <% end %>
  </table>

  <a class="button" href="landmarks/new">Create New Landmark</a>
  <a class="button" href="/figures">View your Figures</a>
