<table>
  <h3> People Names </h3>

  <% @figures.each do |figure| %>
  <a href="/figures/<%= figure.id %>"><%= figure.name %></a>
  <br>
  <%figure.titles.each do |title|%>
  <%= title.name %><br>
  <% end %>
  <% end %>
</table>
<br>
<a class="button" href="/">Home Page</a>
